<h2><%= @supplier.brand_name %></h2>
<ul>
  <li>Nome Corporativo: <%= @supplier.corporate_name %></li>
  <li>NIF: <%= @supplier.nif %></li>
  <li>Cidade: <%= @supplier.city %></li>
  <li>Estado: <%= @supplier.state %></li>
  <li>Email: <%= @supplier.email %></li>
  <li>Número de Contato: <%= @supplier.contact_number %></li>
</ul>

<%= link_to 'Voltar', root_path %>