<h2><%= @supplier.brand_name %></h2>
<ul>
  <li>Razão Social: <%= @supplier.corporate_name %></li>
  <li>NIF: <%= @supplier.nif %></li>
  <li>Cidade/Estado: <%= @supplier.city %> - <%= @supplier.state %></li>
  <li>Email: <%= @supplier.email %></li>
  <li>Número de Contato: <%= @supplier.contact_number %></li>
</ul>

<%= link_to 'Voltar', suppliers_path %>
<%= link_to 'Editar', edit_supplier_path %>