<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <header>
      <h1>Galpões & Estoque</h1>
    </header>
    <nav>
      <ul>
        <li>
          <%= link_to 'Fornecedores', suppliers_path %>
        </li>
        <li>
          <%= link_to 'Modelos de Produtos', product_models_path %>
        </li>
        <li>
          <%= link_to 'Registrar Pedido', new_order_path %>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= current_user.email %>
            <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Entrar', new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </nav>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
